*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    padding : 0 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffd90F;

}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
p {
    text-align: justify;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
}
li {
    margin-left: 5px;
    margin-right: 5px;
}
li:hover {
    font-weight: bold;
}
a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header {
    background-color: #4990c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: none none dashed;
}
header p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 7px;
}
header img {
    width: 100%;
    vertical-align: top;
}
header figure {
    width: 100%;
}
main {
    display: flex ;
    justify-content: flex-end;
    margin-bottom: 20px;
}
#middle {
    background-color: white;
    display: flex;
    align-items: flex-start;
}
#left {
    background-color: #4990c5;
    margin: 10px;
}
#left a {
    color:white;
    width: 200%;
}
article {
    width: 70%;
    margin-left: 20px;
}
article p {
    margin-bottom:10px;
}
#carousselle {
    display: flex;
    justify-content: space-between;
}
#carousselle img {
    width: 31%;
    border: solid 1px;
    border-color: black;
    height: 230px;
    object-fit: cover;
    object-position: left 28%;
}
aside {
    width: 30%;
    margin-top: 75px;
    margin-right: 5px;
}
h1 {
    font-size: 34px;
    color:#ffd90F;
    margin-bottom: 16px;
    margin-top: 25px;
    text-transform: uppercase;
}
#right {
    background-color: #4990c5;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}
#right img {
    width: 60%;
    border: solid 1.5px;
    border-color: white;
}
#right figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
}
#S-creator {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}
#right figcaption {
    text-align: justify;
}
#right figcaption p {
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
}
footer {
    background-color:#29539d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}
small {
    color: white;
}